.Questionnairedisplay{max-height: 58vh;overflow-y: auto;overflow-x: hidden}
.Questionnairedisplay .scheckbox .form-check-input:checked { background-color:#ED327A ;border-color:#ED327A; }
.Questionnairedisplay .scheckbox{margin-top: 5.5px !important;} 
.Questionnairedisplay .form-check-input{box-shadow: none !important;}
.RTL .Questionnairedisplay .scheckbox{margin-left: 5.5px !important;} 
.Questionnairedisplay .question-title{font-weight: bold;display: flex;align-items: center;}
.Questionnairedisplay .question-answer{display: flex;align-items: center;}
.Questionnairedisplay .onequestionsection{border-bottom: 1px solid #5128a0;padding-bottom: 10px;margin-top: 10px;}
#tooltip-summery > .tooltip-inner {background-color: #5228a0;color: #f0f0f0;border: none;}
.canclickimg{cursor: pointer;}
.Questionnairedisplay .QR{text-align: center;}
.Questionnairedisplay .QR .text{font-weight: 500;font-size: 12px;}

.roundcheckbox .form-check-input {border-radius: 50px !important;}

.viewcheckbox-wrapper{padding: 3px 8px;padding-left: 25px;
    /* background: #efefef; */
    border-radius: 4px;cursor: pointer;position: relative;}
.RTL .viewcheckbox-wrapper{padding-right: 25px;}
.viewcheckbox-wrapper input[type=checkbox]{opacity: 0;position: absolute;}
.viewcheckbox-wrapper input[type=checkbox]:disabled+ span svg{color: #6d6d6d27;}
.viewcheckbox-wrapper span svg{position: absolute;margin-left: -20px;margin-top: 5px;color: rgb(163, 156, 156);}
.RTL .viewcheckbox-wrapper span svg{margin-right: -20px;}
.viewcheckbox-wrapper input[type=checkbox]:checked + span svg{color: #ED327A;}
.lightboximage div{z-index: 1000;}
.lightboximagesummry div{z-index: 5000;}
