.resetborder {
    position: fixed;
    width: 300px;
    height: 280px;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -150px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0px;  
}
.reset_Heading{
    font-weight: bold;
    font-size: 24px;
}
p{
    font-size: 15px;
}
.resetbtn{
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
   
}
.form-label{
    font-size: 13px;
}
